<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="/mykopkarbsm/images/logo.png" rel="icon" type="image/png">

    <title>Mykopkarbsm</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href=" style/main.css" rel="stylesheet" />
</head>

<body>
    <script type="text/javascript">
        var message = "Function right click is Disabled!";

        function clickIE4() {
            if (event.button == 2) {
                alert(message);
                return false;
            }
        }

        function clickNS4(e) {
            if (document.layers || document.getElementById && !document.all) {
                if (e.which == 2 || e.which == 3) {
                    alert(message);
                    return false;
                }
            }
        }
        if (document.layers) {
            document.captureEvents(Event.MOUSEDOWN);
            document.onmousedown = clickNS4;
        } else if (document.all && !document.getElementById) {
            document.onmousedown = clickIE4;
        }
        document.oncontextmenu = new Function("alert(message);return false");
    </script>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-store fixed-top navbar-fixed-top" data-aos="fade-down">
        <div class="container">
            <a class="navbar-brand" href="/mykopkarbsm/index.html">
                <img src="images/logo.png" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/mykopkarbsm/index.html">Home </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="page-content page-auth">
        <div class="section-store-auth" data-aos="fade-up">
            <div class="container">
                <div class="row align-items-center row-login">
                    <div class="col-lg-6 text-center">
                        <img src="/mykopkarbsm/images/image-signup.png" alt="" class="w-50 mb-4 mb-lg-none" />
                    </div>
                    <div class="col-lg-5">
                        <h7>
                            Daftar di sini dan dapatkan ke untungan ketika telah bergabung
                            ke anggota kopkar BSM
                        </h7>
                        <form class="mt-3">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control is-valid" aria-describedby="nameHelp" v-model="name" autofocus />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control is-invalid" aria-describedby="emailHelp" v-model="email" />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Ulangi Password</label>
                                <input type="password" class="form-control" />
                            </div>
                            <a class="btn btn-success btn-block mt-4" href="details.html">
                                Register
                            </a>
                            <div class="form-group">
                                <a class="slider__item-info">
                                    Sudah punya akun? <a class="slider__item-author" href="login.html">Login</a>
                                </a>
                            </div>
                            <!-- <button type="submit" class="btn btn-success btn-block mt-4" href="/details.html">
                  Register Now
                </button> -->
                            <!-- <button type="submit" class="btn btn-signup btn-block mt-2" href="/login.html">
                  Back to Login
                </button> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="pt-4 pb-2">
                        2021 Copyright KopkarBSM. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/mykopkarbsm/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/mykopkarbsm/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- <script src="/mykopkarbsm/vendor/vue/vue.js"></script> -->
    <!-- <script src="https://unpkg.com/vue-toasted"></script> -->
    <!-- <script>
      Vue.use(Toasted);

      var register = new Vue({
        el: "#register",
        mounted() {
          AOS.init();
          this.$toasted.error(
            "Maaf, tampaknya email sudah terdaftar pada sistem kami.",
            {
              position: "top-center",
              className: "rounded",
              duration: 1000,
            }
          );
        },
        data: {
          name: "Raka Ardiansyah",
          email: "rakaardiansyah@gmail.com",
          password: "",
          is_store_open: true,
          store_name: "",
        },
      });
    </script> -->
    <script src="/mykopkarbsm/script/navbar-scroll.js"></script>
</body>

</html>